<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <properties resource="src/main/resources/config/dev/jdbc.properties"/>
    <context defaultModelType="flat" id="write" targetRuntime="MyBatis3">
        <property name="renamePlugin.search" value="Iw"/>
        <property name="renamePlugin.replace" value=""/>
        <property name="renamePlugin.prefix" value="MBG"/>
        <plugin type="org.mybatis.generator.plugins.ToStringPlugin"/>
        <plugin type="x.flyspace.mybatisgenerator.plugin.MySQLRowBoundsPlugin"/>
        <plugin type="x.flyspace.mybatisgenerator.plugin.RenamePlugin"/>
        <plugin type="x.flyspace.mybatisgenerator.plugin.SeparateUserCodePlugin"/>
        <commentGenerator type="x.flyspace.mybatisgenerator.comment.CommentGenerator">
            <property name="suppressAllComments" value="false"/>
            <property name="suppressDate" value="true"/>
        </commentGenerator>
        <jdbcConnection connectionURL="${w.jdbc.url}"
                        driverClass="${w.jdbc.driverClassName}"
                        password="${w.jdbc.password}"
                        userId="${w.jdbc.username}"/>
        <javaTypeResolver type="x.flyspace.mybatisgenerator.type.CustomJavaTypeResolver">
            <property name="customTypeMap" value="TINYINT:java.lang.Integer"/>
        </javaTypeResolver>
        <javaModelGenerator targetPackage="com.tale.model.po.mbg"
                            targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
            <property name="renamePlugin.prefix" value=""/>
        </javaModelGenerator>
        <sqlMapGenerator targetPackage="com.tale.mybatis.mappers.write.mbg"
                         targetProject="src/main/resources">
            <property name="enableSubPackages" value="true"/>
            <property name="renamePlugin.search" value="Mapper\z"/>
            <property name="renamePlugin.replace" value="WriteMapper"/>
            <property name="separateUserCodePlugin.targetPackage"
                      value="com.tale.mybatis.mappers.write.custom"/>
            <property name="separateUserCodePlugin.search" value="Dao\z"/>
            <property name="separateUserCodePlugin.replace" value="Mapper"/>
        </sqlMapGenerator>
        <javaClientGenerator targetPackage="com.tale.mybatis.dao.write.mbg"
                             targetProject="src/main/java"
                             type="XMLMAPPER">
            <property name="enableSubPackages" value="true"/>
            <property name="exampleMethodVisibility" value="public"/>
            <property name="methodNameCalculator" value="default"/>
            <property name="renamePlugin.search" value="Mapper\z"/>
            <property name="renamePlugin.replace" value="WriteDao"/>
            <property name="separateUserCodePlugin.targetPackage"
                      value="com.tale.mybatis.dao.write.custom"/>
            <property name="separateUserCodePlugin.search" value="\AMBG"/>
            <property name="separateUserCodePlugin.replace" value=""/>
        </javaClientGenerator>
        <!--<table tableName="iw_sign_%">
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="id" identity="true" sqlStatement="MySql"/>
        </table>-->
        <table tableName="t_attach">
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="id" identity="true" sqlStatement="MySql"/>
        </table>
        <table tableName="t_comments">
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="id" identity="true" sqlStatement="MySql"/>
        </table>
        <table tableName="t_contents">
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="id" identity="true" sqlStatement="MySql"/>
        </table>
        <table tableName="t_logs">
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="id" identity="true" sqlStatement="MySql"/>
        </table>
        <table tableName="t_metas">
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="id" identity="true" sqlStatement="MySql"/>
        </table>
        <table tableName="t_options">
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="id" identity="true" sqlStatement="MySql"/>
        </table>
        <table tableName="t_relationships">
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="id" identity="true" sqlStatement="MySql"/>
        </table>
        <table tableName="t_users">
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="id" identity="true" sqlStatement="MySql"/>
        </table>
    </context>
    <context defaultModelType="flat" id="read" targetRuntime="MyBatis3">
        <property name="renamePlugin.search" value="Iw"/>
        <property name="renamePlugin.replace" value=""/>
        <property name="renamePlugin.prefix" value="MBG"/>
        <plugin type="org.mybatis.generator.plugins.ToStringPlugin"/>
        <plugin type="x.flyspace.mybatisgenerator.plugin.MySQLRowBoundsPlugin"/>
        <plugin type="x.flyspace.mybatisgenerator.plugin.RenamePlugin"/>
        <plugin type="x.flyspace.mybatisgenerator.plugin.SeparateUserCodePlugin"/>
        <commentGenerator type="x.flyspace.mybatisgenerator.comment.CommentGenerator">
            <property name="suppressAllComments" value="false"/>
            <property name="suppressDate" value="true"/>
        </commentGenerator>
        <jdbcConnection connectionURL="${w.jdbc.url}"
                        driverClass="${w.jdbc.driverClassName}"
                        password="${w.jdbc.password}"
                        userId="${w.jdbc.username}"/>
        <javaTypeResolver type="x.flyspace.mybatisgenerator.type.CustomJavaTypeResolver">
            <property name="customTypeMap" value="TINYINT:java.lang.Integer"/>
        </javaTypeResolver>
        <javaModelGenerator targetPackage="com.tale.model.po.mbg"
                            targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
            <property name="renamePlugin.prefix" value=""/>
        </javaModelGenerator>
        <sqlMapGenerator targetPackage="com.tale.mybatis.mappers.read.mbg"
                         targetProject="src/main/resources">
            <property name="enableSubPackages" value="true"/>
            <property name="renamePlugin.search" value="Mapper\z"/>
            <property name="renamePlugin.replace" value="ReadMapper"/>
            <property name="separateUserCodePlugin.targetPackage"
                      value="com.tale.mybatis.mappers.read.custom"/>
            <property name="separateUserCodePlugin.search" value="Dao\z"/>
            <property name="separateUserCodePlugin.replace" value="Mapper"/>
        </sqlMapGenerator>
        <javaClientGenerator targetPackage="com.tale.mybatis.dao.read.mbg"
                             targetProject="src/main/java"
                             type="XMLMAPPER">
            <property name="enableSubPackages" value="true"/>
            <property name="exampleMethodVisibility" value="public"/>
            <property name="methodNameCalculator" value="default"/>
            <property name="renamePlugin.search" value="Mapper\z"/>
            <property name="renamePlugin.replace" value="ReadDao"/>
            <property name="separateUserCodePlugin.targetPackage"
                      value="com.tale.mybatis.dao.read.custom"/>
            <property name="separateUserCodePlugin.search" value="\AMBG"/>
            <property name="separateUserCodePlugin.replace" value=""/>
        </javaClientGenerator>

        <table enableDeleteByExample="false"
               enableDeleteByPrimaryKey="false"
               enableInsert="false"
               enableUpdateByExample="false"
               enableUpdateByPrimaryKey="false"
               tableName="t_attach">
            <property name="useActualColumnNames" value="true"/>
        </table>
        <table enableDeleteByExample="false"
               enableDeleteByPrimaryKey="false"
               enableInsert="false"
               enableUpdateByExample="false"
               enableUpdateByPrimaryKey="false"
               tableName="t_comments">
            <property name="useActualColumnNames" value="true"/>
        </table>
        <table enableDeleteByExample="false"
               enableDeleteByPrimaryKey="false"
               enableInsert="false"
               enableUpdateByExample="false"
               enableUpdateByPrimaryKey="false"
               tableName="t_contents">
            <property name="useActualColumnNames" value="true"/>
        </table>
        <table enableDeleteByExample="false"
               enableDeleteByPrimaryKey="false"
               enableInsert="false"
               enableUpdateByExample="false"
               enableUpdateByPrimaryKey="false"
               tableName="t_logs">
            <property name="useActualColumnNames" value="true"/>
        </table>
        <table enableDeleteByExample="false"
               enableDeleteByPrimaryKey="false"
               enableInsert="false"
               enableUpdateByExample="false"
               enableUpdateByPrimaryKey="false"
               tableName="t_metas">
            <property name="useActualColumnNames" value="true"/>
        </table>
        <table enableDeleteByExample="false"
               enableDeleteByPrimaryKey="false"
               enableInsert="false"
               enableUpdateByExample="false"
               enableUpdateByPrimaryKey="false"
               tableName="t_options">
            <property name="useActualColumnNames" value="true"/>
        </table>
        <table enableDeleteByExample="false"
               enableDeleteByPrimaryKey="false"
               enableInsert="false"
               enableUpdateByExample="false"
               enableUpdateByPrimaryKey="false"
               tableName="t_relationships">
            <property name="useActualColumnNames" value="true"/>
        </table>
        <table enableDeleteByExample="false"
               enableDeleteByPrimaryKey="false"
               enableInsert="false"
               enableUpdateByExample="false"
               enableUpdateByPrimaryKey="false"
               tableName="t_users">
            <property name="useActualColumnNames" value="true"/>
        </table>
    </context>


    <!--</context>-->
</generatorConfiguration>
